#articles-list{
    width: 70%;
    margin: auto;
    margin-top: 2rem;
    margin: auto;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill , minmax(250px,1fr));
}

span {
    font-size: 12px;
    font-weight: 700;
    font-style: unset;
    color: red;
}

body {
    background-color: bisque;
}

.article-container  div img{
    background-color: bisque;
    width: 100%;
    height: 70%;
}